.choice {
  display: none;
}

.btn-primary {
  margin: 10px auto;
}

.btn-secondary:hover {
  background-color: rgb(192, 196, 255);
  border-color: rgb(224, 19, 53);
  color: white;    
}

.btn-secondary {
  color: black;
  background-color: white;
  border-color: white;
}

.quiz-back {
  background-color:#FFFFB3;
}

.high-score-back {
  background-color:#CCFFB3;
}

.timer-back {
  background-color:#FFFBE6;
}